{% extends 'base.html.twig' %}

{% block body %}
<!--Section: Contact v.2-->
<section class="mb-4 container">
 <h2 class="h1-responsive font-weight-bold text-center my-4">Home</h2>

 <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Verbs</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {% for item in verbs %}
      <tr>
          <td scope="row"> {{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>Otto</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="navigation">
       {{ knp_pagination_render(verbs) }}
</div>


</section>
<!--Section: Contact v.2-->

{% endblock body %}